@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

.style {
   color: cornflowerblue;
    width: 800px;
    height: 300px;
    font-family: 'Amiri', serif;
    position: absolute;
    top: 0px;
   left: 50%;
}
.ii {
    width: 800px;
    height: 300px;
    font-family: 'Amiri', serif;
    position: absolute;
    top: 10%;
    left:69%;
}
.ll{
    width: 800px;
    height: 300px;
    font-family: 'Amiri', serif;
    position: absolute;
    top: 30%;
    left:69%;
}
.hh {
    background: rgb(210, 30, 201);
    color: rgb(255, 255, 255);
     width:200px;
     height: 50px;
     font-family: 'Amiri', serif;
     position: absolute;
     top: 55%;
     left:40%;
 }
 
